@model Login

<div class="text-left">
    <h1 class="display-4">Вход в систему</h1>
    <form asp-action="Login" asp-controller="Account">
        <div class="form-group">
            <label asp-for="UserName">Имя пользователя</label>
            <input asp-for="UserName" class="form-control" placeholder="Enter email" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="exampleCheck1">Запомни меня</label>
            <input type="checkbox" class="form-check-input" name="RememberMe">
            
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>

</div>
