@model User

<div class="text-left">
    <h1 class="display-4">Личный кабинет</h1>
    <form>
        <div class="form-group">
            <label asp-for="UserName">Имя пользователя</label>
            <input asp-for="UserName" class="form-control" value="@Model.UserName">
            <span asp-validatin-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Namber">Телефон</label>
            <input asp-for="Namber" class="form-control" value="@Model.Namber">
            <span asp-validatin-for="Namber" />
        </div>
        <div class="form-group">
            <label asp-for="Address">Адрес</label>
            <input asp-for="Address" class="form-control" value="@Model.Address">
            <span asp-validatin-for="Address" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" value="@Model.Email">
            <span asp-validatin-for="Email" />
        </div>
    </form>

</div>
